<meta charset="utf-8" />
<title>{{ (title) ? title : '' }} | {{ app_name }} - {{ app_description }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="{{ app_description }}" name="description" />
<meta content="KyrilK" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">