{{ form_start(form) }}
<div class="modal fade" id="modalFormCompte" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Compte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <!-- end modalheader -->
            <div class="modal-body">
                <div class="row">
                    <div class="form-floating form-floating-custom col-lg-12 mb-3 ">
                        {{ form_widget(form.libelle, { 'attr': { 'class': 'form-control', 'placeholder':'Libellé' }}) }}
                        <label for="compte_form_libelle">Libellé</label>
                        <div class="form-floating-icon">
                            <i class="uil uil-text-fields"></i>
                        </div>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="form-floating col-lg-10">
                        {{ form_widget(form.banque, { 'attr': { 'class': 'form-select', 'placeholder':'Banque' }}) }}
                        <label for="compte_form_banque">Banque</label>
                    </div>
                    <div class="align-self-center col-lg-2 align-middle">
                        <button type="button" class="btn btn-outline-success" id="btn_add_banque_compte" data-bs-toggle="modal"><i class="uil uil-plus"></i></button>
                    </div>
                </div>
            </div>
            <!-- end modalbody -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </div>
            <!-- end modalfooter -->
        </div>
    </div>
</div>
{{ form_end(form) }}